body {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: "Merriweather", serif;
}
.container1 {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}
hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: #c2c2c2;
  width: 4%;
}
.container2 {
  margin: 100px 0;
}
.hello {
  width: 2.5rem;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  padding-bottom: 20px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
p {
  line-height: 2;
}
.intro {
  width: 30%;
  margin: auto auto 30px auto;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.profilepic {
  height: 350px;
}
.skillimg1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skillimg2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skillimg3 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.umm {
  font-weight: 500;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #11999e;
  text-shadow: 1px 21px 78px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #11999e;
  border: solid #ffffff 1px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-decoration: none;
}
.contact-mess {
  width: 40%;
  margin: 40px auto 60px;
}

.container3 {
  background-color: #66bfbf;
  padding: 50px 0 25px;
}
.copyright {
  padding: 20px 0;
  color: #eaf6f6;
  font-size: 0.75rem;
}
